@media (max-width: 768px) {
    .nav-list {
        display: none;
    }
    .nav-logo .image-overlay .full-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-content {
        margin-top: 55px;
        height: 100%;
        position: relative;
        flex-direction: column;
    }
    .image-container img {
        width: 70%;
    }
    .scroll-down {
        display: none;
    }
    .about-img {
        display: none;
    }
    .about-content {
        max-width: 100%;
        margin-bottom: 50%;
    }
    .about-text p {
        font-size: 14px;
        padding: 10px;
        transition: color 0.3s ease-in-out;
    }
    .container-icons {
        font-size: 100%;
        padding: 10px;
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }
    .icons {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 5%;
        padding: 5%;
    }
    .icons i {
        font-size: 30px;
        margin: 0;
    }
    .js-cont-text {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    .js-cont-text p {
        font-family: "Inconsolata", sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .habilidades {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .skills {
        width: 100%;
        margin: 0 auto;
        padding: 3rem;
        font-family: "inconsolata", sans-serif;
    }
    .skills .skills-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        /* Centraliza os elementos horizontalmente */
    }
    .download-cont {
        display: flex;
        flex: content;
        align-items: center;
        margin: 30px;
        font-size: 75%;
    }
    .section-contac {
        width: 100%;
    }
    .container-form {
        width: 100%;
    }
    .footer {
        width: 100%;
        max-width: 100%;
        padding: 2rem 0;
        margin: 0 auto;
        border: 2 pix red;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-content ul {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-content ul li {
        margin-bottom: 1rem;
    }
}
