@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cutive+Mono&family=IBM+Plex+Mono:ital,wght@0,100;0,300;0,500;0,700;1,100;1,500;1,700&family=Inconsolata:wght@300;500;700;900&family=Oswald:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,700;1,900&family=Rubik:wght@400;500;600;700&family=Teko:wght@400;600;700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800;900&display=swap");
@media (max-width: 768px) {
    /*===============================================================*/
    @media (max-width: 768px) {
        .nav-list {
            display: flex;
            flex-direction: column;
            margin: -45px;
            gap: 1rem;
        }
        .nav-list i {
            font-size: 14px;
            font-size: 12px;
            border-radius: 1px solid #000;
        }
        .nav-item {
            width: 50%;
        }
        .nav-link {
            text-align: center;
        }
    }
    /*===============================================================*/
    .flipping-image {
        width: 150px;
    }
    .home .intro {
        max-width: 100%;
        padding: 0 20px;
    }
    .home .intro .social-icons {
        margin-top: var(--m-1);
    }
    .about-img {
        display: none;
    }
    .about-content {
        max-width: 100%;
        margin-bottom: 50%;
    }
    .about-text p {
        font-size: 18px;
        padding: 10px;
        transition: color 0.3s ease-in-out;
    }
    .about-text p:hover {
        color: var(--color-dark);
        font-weight: bold;
    }
    .buttons-container {
        margin-left: 100px;
        margin-right: 100px;
        font-size: 70%;
    }
    .container-icons {
        font-size: 100%;
        padding: 10px;
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }
    .lni-code {
        display: none;
        border-radius: 8px;
        background: linear-gradient(315deg, #f0f0f0, #cacaca);
        box-shadow: -31px -31px 62px #c7c7c7, 31px 31px 62px #f9f9f9;
    }
    .icons {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin: 5%;
        padding: 5%;
    }
    .icons i {
        font-size: 30px;
        margin: 0;
    }
    .js-cont-text {
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
    .js-cont-text p {
        font-family: "Inconsolata", sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .container-form {
        background: transparent;
        margin: 2px;
        padding: 2px;
    }
    .download-cont {
        display: flex;
        flex: content;
        align-items: center;
        margin: 30px;
        font-size: 75%;
    }
    .habilidades {
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .skills {
        width: 100%;
        margin: 0 auto;
        padding: 3rem;
        font-family: "inconsolata", sans-serif;
    }
    .skills .skills-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        /* Centraliza os elementos horizontalmente */
    }
    .skills-row .skills-column {
        flex: 1 1 calc(50% - 1rem);
        /* Divide as colunas em 50% do espaço, subtraindo o espaço entre elas */
    }
    .skills-box .skills-content {
        position: relative;
        border: 0.2rem solid #0078d7;
        border-radius: 0.6rem;
        padding: 0.5rem 1.5rem;
    }
    .skills-content .progress {
        padding: 1rem 0;
    }
    .skills-content .progress h3 {
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
    }
    .skills-content .progress h3 span {
        color: #000000;
    }
    .skills-content .progress .bar {
        height: 2.3rem;
        border-radius: 0.6rem;
        border: 0.2rem solid #0078d7;
        padding: 0.5rem;
        margin: 1rem 0;
        position: relative;
        overflow: hidden;
    }
    .skills-content .progress .bar span {
        display: block;
        height: 100%;
        border-radius: 0.3rem;
        background: #3682c0;
        animation: progressAnimation 2s ease-in-out;
        /* Adiciona a animação */
    }
    @keyframes progressAnimation {
        0% {
            width: 0%;
        }
    }
    .skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
        width: 90%;
    }
    .skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
        width: 80%;
    }
    .skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
        width: 70%;
    }
    .skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
        width: 65%;
    }
}